body {
    background: #fff;
}

.btn {
    display: inline-block;
    width: max-content;
    height: max-content;
}

.btn-blue {
    background: #2c60cc;
    color: white;
}

.btn-purple {
    background: #6711ad;
    color: white;
}

.btn-blue:hover {
    background: #4175e1;
    color: white;
}

a {
    color: #2c60cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    margin: 50px auto 0;
    max-width: 1600px;
    padding: 0 50px;
    display: flex;
}

.content {
    flex: 1;
    padding-left: 30px;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    width: 100%;
    margin-bottom: 20px;
}

.consents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.login-form a {
    font-weight: bold;
}

.login-titles {
    margin-bottom: 30px;
    text-align: center;
}

.login-titles h1 {
    margin-bottom: 20px;
}

.my-form {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    margin-bottom: 30px;
}

.nav-pills .nav-link.active {
    color: #2c60cc;
    background: #b6c9f0;
    font-weight: 500;
}

.nav-pills .nav-link:hover {
    text-decoration: none;
    background: #b6c9f0;
}

.meal-container {
    margin-bottom: 20px;
    max-height: 54px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.meals-list h3 {
    margin-bottom: 30px;
}

.meal-container.open {
    max-height: 800px;
}

.meal-container .meal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
}

.meal-container .meal-title:hover {
    border-color: #b6c9f0;
    color: #2c60cc;
}

.meal-container .meal-title h4 {
    margin: 0;
    line-height: 1;
    font-size: 20px;
}

.meal-container .meal-title svg {
    transition: all 0.5s ease;
}

.meal-container.open .meal-title svg {
    transform: rotate(180deg);
}

.meal-container .meal-content {
    padding: 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meal-container .meal-content .content-img {
    width: 250px;
    margin-bottom: 20px;
}

.meal-container .meal-content .content-img img {
    width: 100%;
    object-fit: contain;
}
.meal-container .meal-content .content-text {
    flex: 1;
    padding-left: 20px;
}